/MVVMSample/gradle
/MVVMSample/.gitignore
/MVVMSample/gradle.properties
/MVVMSample/gradlew
/MVVMSample/gradlew.bat
/MVVMSample/local.properties
/MVVMSample/MVVMSample.iml
/MVVMSample/.gradle
/MVVMSample/.idea
/MVVMSample/build
/MVVMSample/app/libs
/MVVMSample/app/.gitignore
/MVVMSample/app/app.iml
/MVVMSample/app/build
